<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Sitecore.Abstractions" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Core" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.DataAccess" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Model" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Analytics.Processing" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Kernel" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Logging" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Logging.Client" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Marketing" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Marketing.Core" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Marketing.Taxonomy" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.NVelocity" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Update" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Xdb.Configuration" version="8.1.0.160302" targetFramework="net45" />
  <package id="Sitecore.Zip" version="8.1.0.160302" targetFramework="net45" />
</packages>